<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>B0E5CE07-3C7C-F97C-1147-11E44C77CC82</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
